<p id="notice"><%= notice %></p>

<p>
  <strong>Nome usuario:</strong>
  <%= @comentario.nome_usuario %>
</p>

<p>
  <strong>Corpo:</strong>
  <%= @comentario.corpo %>
</p>

<p>
  <strong>Prato:</strong>
  <%= @comentario.prato_id %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
