<p id="notice"><%= notice %></p>

<h2>Pratos</h2>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pratos.each do |prato| %>
      <tr>
        <td><%= prato.nome %></td>
        <td><%= prato.descricao %></td>
        <td><%= link_to 'Show', prato %></td>
        <td><%= link_to 'Edit', edit_prato_path(prato) %></td>
        <td><%= link_to 'Destroy', prato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prato', new_prato_path %>
