<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @prato.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @prato.descricao %>
</p>

<h2>Comentarios</h2>
<% @prato.comentarios.each do |comentario| %>
  <p>
    <b>Usuário:</b>
    <%= comentario.nome_usuario %>
  </p>

  <p>
    <b>Comentario:</b>
    <%= comentario.corpo %>
  </p>

  <%= link_to 'Editar', edit_prato_comentario_path(@prato.comentarios) %>
  <hr />
<% end %>

<h2>Adicione um comentario:</h2>
<%= form_for([@prato, @prato.comentarios.build]) do |f| %>
  <div class="field">
    <%= f.label :nome_usuario %><br />
    <%= f.text_field :nome_usuario %>
  </div>
  <div class="field">
    <%= f.label :corpo %><br />
    <%= f.text_area :corpo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
<br />

<%= link_to 'Edit', edit_prato_path(@prato) %> |
<%= link_to 'Back', pratos_path %>
